<%- include('partials/header')  %> 

    <div class="jumbotron jumbotron-fluid" style="margin: 200px auto;">
        <div class="container">
          <h1 class="display-4">Success!</h1>
          <p class="lead">Your booking has been made successfully. Enjoy your ride</p>
          <form action="/success" method="post">
            <button type="submit" class="btn btn-info">Return to Homepage</button>
          </form>
        </div>
    </div>

<%- include('partials/footer')  %>  

